

body{
    background-color: rgb(0, 0, 0);
    
}

nav{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding-top: 45px; 
    padding-left: 8%; 
    padding-right: 8%;
} 

span{
    color:#f9004d;
} 

nav ul li {
    list-style-type: none; 
    display: inline-block; 
    padding: 10px 25px;  

} 

content{
    position: absolute; 
    top: 50%; 
    left: 8%; 
    transform: translateY(-50%); 

}
